.primary-btn{
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    background-color: var(--purple);
    border-radius: 999px;
    position: relative;
    z-index: 1;
    p{
        font-size: 18px;
        font-weight: $semi-bold;
        color: $white;
        text-align: center;
    }
    &::before{
        content: '';
        position: absolute;
        top: 12px;
        left: 50%;
        width: 60%;
        height: 100%;
        transform: translateX(-50%);
        background: var(--purple);
        opacity: 0;
        border-radius: 999px;
        filter: blur(32px);
        transition: 0.35s opacity ease-in-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            opacity: 0.3;
        }
    }
}

.dark-mode-btn{
    cursor: pointer;
    width: 64px;
    height: 32px;
    padding: 4px 8px;
    background: $white;
    box-shadow: var(--shadow1);
    border-radius: 99px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background: var(--purple);
        border-radius: 99px;
        transform: translateX(0);
        transition: 0.35s transform ease-in-out;
    }
    &.active{
        background: #2b2b2b;
        &::after{
            transform: translateX(100%);
        }
    }
}