#home-page{
    min-height: 100vh;
}

.hero-section{
    padding-block: 9rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .hero-title{
        max-width: 822px;
        line-height: 125%;
        font-size: var(--large-heading);
        text-align: center;
        color: var(--black);
        span{
            color: var(--purple);
        }
    }
    .search-box{
        display: flex;
        width: 100%;
        max-width: 612px;
        border-radius: 8px;
        box-shadow: var(--shadow2);
        background: var(--white);
        overflow: hidden;
        input{
            flex-grow: 1;
            padding: 1rem 1.5rem;
            font-size: var(--body-text);
            background: none;
            border: none;
            outline: none;
        }
        .search-btn{
            padding: 1rem;
            border-radius: 0px;
        }
    }
}

@media only screen and (max-width: 1024px){
    .hero-section{
        padding-block: 7rem 3rem;
        .search-box{
            input{
                padding: 0.75rem 1rem;
            }
            .search-btn{
                padding: 0.75rem;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .hero-section{
        padding-block: 6rem 2rem;
    }
}