:root{
    --white: #FAFAFA;
    --black: #2B2B2B;
    --purple: #363EFA;
    --red: #EA3131;
    --shadow1: 4px 12px 24px rgba(20, 0, 58, 0.08), 0px 0px 12px rgba(20, 0, 58, 0.10);
    --shadow2: 6px 16px 32px rgba(20, 0, 58, 0.08), 0px 0px 16px rgba(20, 0, 58, 0.10);
    --black30: rgba(43,43,43,0.3);
    --black10: rgba(43,43,43,0.1);
}

.dark-mode{
    --white: #1B1B1B;
    --black: #FAFAFA;
    --purple: #6368f3;
    --black30: rgba(252,252,252,0.3);
    --black10: rgba(252,252,252,0.1);
}

$white: #FAFAFA;
$black: #2B2B2B;