:root{
    --white: #FAFAFA;
    --black: #2B2B2B;
    --purple: #363EFA;
    --red: #EA3131;
    --shadow1: 4px 12px 24px rgba(20, 0, 58, 0.08), 0px 0px 12px rgba(20, 0, 58, 0.10);
    --shadow2: 6px 16px 32px rgba(20, 0, 58, 0.08), 0px 0px 16px rgba(20, 0, 58, 0.10);
}

$white: #FAFAFA;
$black: #2B2B2B;